
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100vw;
  height: 100vh;
  background-color: #23262a;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  min-height: 125px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  color: #444;
  background-color: #67b5a0;
}
.options_screen {
  flex-direction: column;
}

.counter_value {
  font-size: 55px;
}

.counter_value_max {
  color: #940b0b;
}

.screen .error_text {
  color: #940b0b;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.counter, .options, .buttons_wrapper {
  padding: 20px;
  border: 2px solid #3e997f;
  border-radius: 10px;
}
.counter, .options {
  width: 300px;
}



